@font-face{
  font-family:Montserrat;
  src: url('https://typicalgitcoder997.github.io/EuroHsrTiranga/fonts/Montserrat.ttf') format('ttf')
}

body{
  color:white;
  font-size:24;
  font-family:Montserrat;
  background-color:black;
}

.centerText{
  text-align:center;
}

.box{
  font-family:Montserrat;
  background-color:#161616;
  color:white;
  text-align: center;
  padding-left:10px;
  padding-right:10px;
  padding-top:20px;
  padding-bottom:20px;
  transition: all 0.4s;
}

.box:hover{
  background-color: #33333;
  cursor:pointer;
  border:1px solid #112046;
  border-radius:5px;
  padding-left:10px;
  padding-right:10px;
  padding-top:30px;
  padding-bottom:30px;
  box-shadow: 7px 7px 10px #112046;
}

/*.box:active{
  opacity: 0.4;
  cursor:pointer;
  border:1px solid #21409a;
  border-radius:6px;
  padding-left:11px;
  padding-right:11px;
  padding-top:32px;
  padding-bottom:32px;
  box-shadow: 7px 7px 10px #635e5e;
}*/
      
