body{
  color:white;
  background-color:black;
}

.centerText{
  text-align:center;
}

.box{
  background-color:black;
  color:white;
  padding-left:10px;
  padding-right:10px;
  padding-top:20px;
  padding-bottom:20px;
  transition: all 0.4s;
}

.box:hover{
  cursor:pointer;
  border:1px solid #21409a;
  border-radius:5px;
  padding-left:10px;
  padding-right:10px;
  padding-top:30px;
  padding-bottom:30px;
}
      
